<div class="flex items-center justify-start bg-slate-800 rounded-lg px-3">
  <div class="w-1/4">
    <img src="assets/icons/weight.svg">
  </div>
  <div class="px-2">
    <h5 class="font-bold text-lg">80.3 kg</h5>
    <div class="flex gap-2 items-center text-gray-400 text-sm">
      <p>Current weight</p>
    </div>
  </div>
  <!-- <div class="text-gray-400 ml-auto">
    <i class="fi fi-rr-plus"></i>
  </div> -->
</div>

<div class="bg-slate-800 rounded-lg p-3 mt-4">
  <div class="flex gap-2 items-center text-gray-400 text-sm">
    <p>Last week</p>
  </div>
  <h5 class="font-bold text-lg">Weight Track</h5>
  <app-line-chart></app-line-chart>
</div>

<app-floating-button (onClick)="openWeightModal()">
  <i class="fi fi-rr-plus mt-2"></i>
</app-floating-button>

<!-- Main modal -->
<app-weight-input-modal #weightInputModal></app-weight-input-modal>