<div class="flex items-center justify-start bg-slate-800 rounded-lg px-3">
  <div class="w-1/4">
    <img src="assets/icons/weight.png">
  </div>
  <div class="px-2">
    <h5 class="font-bold text-lg">80.3 kg</h5>
    <div class="flex gap-2 items-center text-gray-400 text-sm">
      <p>Current weight</p>
    </div>
  </div>
  <!-- <div class="text-gray-400 ml-auto">
    <i class="fi fi-rr-plus"></i>
  </div> -->
</div>

<div class="bg-slate-800 rounded-lg p-3 mt-4">
  <div class="flex gap-2 items-center text-gray-400 text-sm">
    <p>Last week</p>
  </div>
  <h5 class="font-bold text-lg">Weight Track</h5>
  <app-line-chart></app-line-chart>
</div>

<div class="fixed bottom-28 right-4 p-4 bg-slate-900 rounded-full">
  <button class="rounded-full w-12 h-12 flex justify-center items-center hover:bg-slate-700">
    <i class="fi fi-rr-plus mt-2 mr-1"></i>
  </button>
</div>