<div *ngIf="modalOpened">
  <!-- Modal backdrop -->
  <div class="fixed top-0 left-0 right-0 z-20 w-screen h-screen bg-slate-600 bg-opacity-70" (click)="closeModal()">
  </div>
  <!-- Main modal -->
  <div class="fixed top-0 left-0 right-0 z-50 w-full h-1/2 p-4 flex justify-center items-center">
    <div class="relative w-full h-full max-w-md md:h-auto">
      <!-- Modal content -->
      <div class="relative rounded-lg shadow bg-slate-800 p-4">
        <div class="flex justify-between items-center">
          <h5 class="font-bold text-lg">Register your weight!</h5>
          <button (click)="closeModal()">
            <i class="fi fi-rr-cross-small"></i>
          </button>
        </div>
        <div class="mt-6">
          <div class="border-2 border-slate-700 rounded-lg py-2 px-4 focus-within:border-slate-600 relative">
            <input type="text" class="bg-transparent outline-none w-full" placeholder="Date"
              [value]="clientWeight.date.toString()">
            <input #datePicker type="date" class="absolute opacity-0 left-0 top-0 w-full h-full"
              [(ngModel)]="clientWeight.date" (change)="test()">
          </div>

          <div class="border-2 border-slate-700 rounded-lg mt-2 py-2 px-4 focus-within:border-slate-600">
            <input type="number" class="bg-transparent outline-none w-full" placeholder="Weight (kg)"
              [(ngModel)]="clientWeight.weight">
          </div>

          <div class="flex items-center gap-2 mt-6 justify-end">
            <button class="rounded-lg px-4 py-2 outline-2 outline-slate-900 font-bold" (click)="closeModal()">
              Cancel
            </button>
            <button class="rounded-lg px-4 py-2 bg-slate-900 font-bold">
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>