<div>
  <svg class="chart bg-transparent w-full h-full">
    <g>
      <circle cx="10%" cy="10%" r="4" class="fill-emerald-900 stroke-blue-400" stroke-width="2" tooltip="Miami Heat">
      </circle>
      <circle cx="20%" cy="20%" r="4" fill="#FFFFFF" stroke="#DC3912" stroke-width="2" tooltip="Miami Heat">
      </circle>
      <circle cx="30%" cy="30%" r="4" fill="#FFFFFF" stroke="#DC3912" stroke-width="2" tooltip="Miami Heat">
      </circle>
      <circle cx="40%" cy="40%" r="4" fill="#FFFFFF" stroke="#DC3912" stroke-width="2" tooltip="Miami Heat">
      </circle>
      <circle cx="50%" cy="50%" r="4" fill="#FFFFFF" stroke="#DC3912" stroke-width="2" tooltip="Miami Heat">
      </circle>
      <circle cx="60%" cy="60%" r="4" fill="#FFFFFF" stroke="#DC3912" stroke-width="2" tooltip="Miami Heat">
      </circle>
    </g>
  </svg>
</div>