<div class="fixed flex justify-center bottom-4 z-10 inset-x-4">
  <nav class=" bg-slate-900 rounded-full p-4 w-full max-w-xl">
    <ul class="flex justify-around">
      <li>
        <a routerLinkActive="bg-slate-700" [routerLink]="['dashboard']"
          class="rounded-full w-12 h-12 flex justify-center items-center hover:bg-slate-700">
          <i class="fi fi-rr-house-blank"></i>
        </a>
      </li>
      <li>
        <a routerLinkActive="bg-slate-700" [routerLink]="['plan']"
          class="rounded-full w-12 h-12 flex justify-center items-center hover:bg-slate-700">
          <i class="fi fi-rr-gym"></i>
        </a>
      </li>
      <!-- <li>
        <a routerLinkActive="bg-slate-700" [routerLink]="['nutrition']"
          class="rounded-full w-12 h-12 flex justify-center items-center hover:bg-slate-700">
          <i class="fi fi-rr-restaurant"></i>
        </a>
      </li> -->
      <li>
        <a routerLinkActive="bg-slate-700" [routerLink]="['settings']"
          class="rounded-full w-12 h-12 flex justify-center items-center hover:bg-slate-700">
          <i class="fi fi-rr-settings-sliders"></i>
        </a>
      </li>
      <li>
        <a routerLinkActive="bg-slate-700" [routerLink]="['info']"
          class="rounded-full w-12 h-12 flex justify-center items-center hover:bg-slate-700">
          <i class="fi fi-rr-interrogation"></i>
        </a>
      </li>
    </ul>
  </nav>
</div>