<nav class=" bg-slate-900 rounded-full p-4 fixed inset-x-4 bottom-4 sm:top-4 sm:bottom-auto">
    <ul class="flex justify-around">
        <li>
            <a routerLinkActive="bg-slate-700" routerLink="" [routerLinkActiveOptions]="{exact: true}" class="rounded-full w-12 h-12 flex justify-center items-center hover:bg-slate-700">
                <i class="fi fi-rr-house-blank"></i>
            </a>
        </li>
        <li>
            <a routerLinkActive="bg-slate-700" [routerLink]="['workout']" class="rounded-full w-12 h-12 flex justify-center items-center hover:bg-slate-700">
                <i class="fi fi-rr-gym"></i>
            </a>
        </li>
        <li>
            <a routerLinkActive="bg-slate-700" [routerLink]="['nutrition']" class="rounded-full w-12 h-12 flex justify-center items-center hover:bg-slate-700">
                <i class="fi fi-rr-restaurant"></i>
            </a>
        </li>
        <li>
            <a routerLinkActive="bg-slate-700" [routerLink]="['settings']" class="rounded-full w-12 h-12 flex justify-center items-center hover:bg-slate-700">
                <i class="fi fi-rr-settings-sliders"></i>
            </a>
        </li>
    </ul>
</nav>