<div class="flex flex-col items-center gap-4 py-16">
  <p class="font-bold text-xl">This platform was developed by a solo developer.</p>
  <p>If you need or want to develop a web site or application for you or your business you can contact me via email:
    <a href="mailto: dmytro.golovin.98@gmail.com" class="font-bold underline">dmytro.golovin.98@gmail.com</a>
    or via phone: <span class="font-bold">+351 912149915</span>.
  </p>
  <p class="font-bold">You can find my social networks under:</p>
  <ul class="flex justify-around">
    <li>
      <a href="https://www.facebook.com/dima.golovin.50/" target="_blank"
        class="rounded-full w-12 h-12 flex justify-center items-center text-xl hover:bg-slate-700">
        f
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/dimonwee/" target="_blank"
        class="rounded-full w-12 h-12 flex justify-center items-center hover:bg-slate-700">
        <i class="fi fi-rr-portrait"></i>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/dmytro-golovin-4b2a6816b/" target="_blank"
        class="rounded-full w-12 h-12 flex justify-center items-center hover:bg-slate-700">
        In
      </a>
    </li>
    <li>
      <a href="https://personal-web-site-d9469.web.app" target="_blank"
        class="rounded-full w-12 h-12 flex justify-center items-center hover:bg-slate-700">
        <i class="fi fi-rr-globe"></i>
      </a>
    </li>
  </ul>
</div>