<div class="py-3">
  <h5 class="font-bold">{{ plan?.name | uppercase }}</h5>
</div>

<div class="w-full h-48" *ngIf="plan">
  <app-video-renderer [videoUrl]="plan.videoUrl" class="w-full h-full"></app-video-renderer>
</div>

<div class="py-3" *ngIf="plan?.description">
  <h5 class="font-bold">{{ 'Description' | uppercase }}</h5>
  <p class="mt-2">{{ plan?.description }}</p>
</div>

<div class="py-3" *ngIf="plan?.objectives">
  <h5 class="font-bold">{{ 'Objectives' | uppercase }}</h5>
  <p class="mt-2">{{ plan?.objectives }}</p>
</div>